$icon-font-path: "/vendor/sass-bootstrap/fonts/";

@import "compass/css3/";
@import 'sass-bootstrap/lib/bootstrap';

/* Put your CSS here */
html, body {
    margin: 20px;
}

@keyframes domChanged { from { background: yellow; } }
@-webkit-keyframes domChanged { from { background: yellow; } }
.ember-view { animation: domChanged 1s; -webkit-animation: domChanged 1s; }

.button-list
{
  li {
    margin-bottom: 15px;
    button
    {
      width: 100%;
    }
  }
  list-style: none;


}
